<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: title ||'Not found!' }) %>
    </head>

    <body>
        <%- include('includes/header', links) %>
        <main>
            <h1>[404] We could not find this resource!</h1>
            <p>Unfortunately, we were not able to find this resource.</p>
            <p><%= title %></p>
            <a class="btn" href="/">Back To Safety!</a>
        </main>
    </body>
</html>
