<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: 'Home Page' }) %>
    </head>

    <body>
        <%- include('includes/header', links) %>
        <main>
            <h1>Home page</h1>
            <p>Hooray, this is the homepage.</p>
        </main>
    </body>
</html>
