<header id="main-header">
    <div id="logo">
        <a href="/">MyBlog</a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="<%= links.posts %>">All Posts</a>
            </li>
            <li>
                <a href="<%= links.new %>">Create Post</a>
            </li>
        </ul>
    </nav>
</header>
