<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('_head') %>
        <link rel="stylesheet" href="/restaurants/styles/error.css" />
    </head>

    <body>
        <% if(links){ %> <%- include('_header', links); %> <%-
        include('_side-drawer', links); %> <% } %>
        <main>
            <h1 class="error">Page not found!</h1>
            <h2><%= title %></h2>
            <p>Unfortunately, we weren't able to find this page.</p>
        </main>
    </body>
</html>
