
<aside id="mobile-drawer">
    <nav>
        <ul>
            <li class="nav-item">
                <a href="<%= links.restaurants %>">Browse Restaurants</a>
            </li>
            <li class="nav-item">
                <a href="<%= links.recommend %>">Share a Restaurant</a>
            </li>
            <li class="nav-item">
                <a href="<%= links.about %>">About Eatwell</a>
            </li>
        </ul>
    </nav>
</aside>