<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('_head') %>
    </head>

    <body>
        <%- include('_header', links); %> <%- include('_side-drawer', links); %>
        <main>
            <h1>Success!</h1>
            <p>Your restaurant was successfully added to our list!</p>
        </main>
    </body>
</html>
