

<div class="container">
    <!-- <h1>File Upload</h1> -->
    <form id='adduser' method='post' action='' enctype='multipart/form-data'>
        <div class="input-group">
            <label for='name'>Your name</label>
            <input name='name' id='name' placeholder="Enter your name" required />
        </div>
        <div class="input-group">
            <label for='file'>Select files</label>
            <input id='file' name='file' type="file" accept='image/jpeg, image/png' required>
        </div>
        <button class="submit-btn" type='submit'>Upload</button>
    </form>
</div>