<header id="main-header">
    <div id="logo">
        <a href="">File Upload Demo</a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="page1">Page 1</a>
            </li>
            <li>
                <a href="page2">Page 2</a>
            </li>
        </ul>
    </nav>
</header>
