<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('_head') %>
    </head>

    <body>
        <%- include('_header', links); %> <%- include('_side-drawer', links); %>
        <main>
            <h1>An error occured!</h1>
            <h2><%= title %></h2>
            <p>Unfortunately, we weren't able to find this page.</p>
        </main>
    </body>
</html>
