<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('_head') %>
        <link rel="stylesheet" href="/styles/restaurant.css" />
    </head>

    <body>
        <%- include('_header', links); %> <%- include('_side-drawer', links); %>
        <main>
            <h1>Recommended restaurants</h1>
            <p>
                Find your next favorite restaurants with help of our other
                users!
            </p>
            <ul id="restaurants-list">
                <% for(const restaurant of restaurants){%> <%-
                include('_restaurant-item', {links: links, restaurant}) %> <% }
                %>
            </ul>
        </main>
    </body>
</html>
