<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../_includes/head.ejs') %>
        <title>My Shop</title>
    </head>
    <body class="bg-slate-800 text-slate-100">
        Tailwind
    </body>
</html>
